In [188]:
import pandas as pd
import numpy as np
import datetime

xls_file = pd.read_excel('../data/16_gen_ab_ev_list_10_23_16.xlsx')
df = pd.DataFrame(xls_file, columns = ['voter_id', 'name_last', 'Category', 'date_entered', 'Original Party'])
df.head()

   voter_id         name_last Category        date_entered Original Party
0        33           LEBROKE      P&G 2016-09-12 17:49:12            DEM
1        45             LEACH       EV 2016-10-23 14:00:23            DEM
2        56  CLIFFORD-SPITZER      P&G 2016-09-09 15:48:29            DEM
3        72        BURGARELLO      REG 2016-09-27 11:09:27            REP
4       109           MARTINE      P&G 2016-09-13 14:26:06            DEM

In [189]:
# Select Category column
df['Category']

0        P&G
1         EV
2        P&G
3        REG
4        P&G
5        P&G
6        REG
7         EV
8        P&G
9         EV
10       REG
11       VBM
12       REG
13       P&G
14        EV
15       P&G
16       OUT
17        EV
18        EV
19        EV
20        EV
21       REG
22       P&G
23       P&G
24       REG
25        EV
26       REG
27       REG
28        EV
29       P&G
        ...
31817     EV
31818     EV
31819    OUT
31820     EV
31821    REG
31822    REG
31823     EV
31824     EV
31825    OUT
31826    REG
31827     EV
31828     EV
31829    OUT
31830     EV
31831     EV
31832     EV
31833     EV
31834     EV
31835     EV
31836    REG
31837     EV
31838    VBM
31839     EV
31840    VBM
31841     EV
31842    VBM
31843     EV
31844     EV
31845     EV
31846     EV
Name: Category, dtype: object

In [190]:
# Select rows where Category column is early voter (EV)
df = df[df['Category'] == "EV"]

In [191]:
# Convert the date_entered values to datetime format
df['date_entered'] = pd.to_datetime(df['date_entered'], errors='ignore')
df.head()

    voter_id name_last Category        date_entered Original Party
1         45     LEACH       EV 2016-10-23 14:00:23            DEM
7        124     CRANO       EV 2016-10-22 10:50:55            GRN
9        128  HARNAGEL       EV 2016-10-22 11:14:27            DEM
14       283    NORMAN       EV 2016-10-23 12:22:10            REP
17       302   MCPHAIL       EV 2016-10-23 14:38:34            DEM

In [192]:
# rename date_entered column to datetime
df = df.rename(columns = {'date_entered':'datetime'})
df.head()

    voter_id name_last Category            datetime Original Party
1         45     LEACH       EV 2016-10-23 14:00:23            DEM
7        124     CRANO       EV 2016-10-22 10:50:55            GRN
9        128  HARNAGEL       EV 2016-10-22 11:14:27            DEM
14       283    NORMAN       EV 2016-10-23 12:22:10            REP
17       302   MCPHAIL       EV 2016-10-23 14:38:34            DEM

In [193]:
# df["day"] = df.datetime.dayofyear

In [194]:
# aggregate date_entered by hour and minute
times = pd.DatetimeIndex(df.datetime)
grouped = df.groupby([times.hour, times.minute])
grouped.head()

       voter_id          name_last Category            datetime Original Party
1            45              LEACH       EV 2016-10-23 14:00:23            DEM
7           124              CRANO       EV 2016-10-22 10:50:55            GRN
9           128           HARNAGEL       EV 2016-10-22 11:14:27            DEM
14          283             NORMAN       EV 2016-10-23 12:22:10            REP
17          302            MCPHAIL       EV 2016-10-23 14:38:34            DEM
18          306            STEWART       EV 2016-10-22 11:51:02            DEM
19          349          KISSINGER       EV 2016-10-22 11:00:58            REP
20          361         CECCARELLI       EV 2016-10-22 11:04:30            DEM
25          436             PARKER       EV 2016-10-23 14:20:52            DEM
28          493     CURRY-WINCHELL       EV 2016-10-22 15:58:29            IAP
30          535             PARKER       EV 2016-10-22 11:22:45            DEM
33          578              ROCHA       EV 2016-10-23 14:45:14            DEM
38          699             PARKER       EV 2016-10-22 11:21:16            DEM
40          730           MCEACHIN       EV 2016-10-23 15:26:03            DEM
43          793          HENTHORNE       EV 2016-10-23 12:09:58            DEM
45          823          HALTERMAN       EV 2016-10-23 15:30:23            DEM
50          920           MARTINEZ       EV 2016-10-22 13:32:47            REP
51          938          QUINTEROS       EV 2016-10-22 13:13:03            DEM
52          949         FREIBERGER       EV 2016-10-23 13:37:52            DEM
62         1056            MESSINA       EV 2016-10-23 12:02:02            DEM
68         1163             MORGAN       EV 2016-10-22 15:46:49            REP
69         1175             BENDER       EV 2016-10-23 15:54:40            DEM
70         1176             SCULLY       EV 2016-10-23 11:53:54            DEM
71         1177        DIMITRIADIS       EV 2016-10-22 13:48:05            DEM
74         1236           STOYCOFF       EV 2016-10-23 12:04:41            IAP
76         1285             SIDHER       EV 2016-10-23 11:39:28            DEM
82         1371             TADDEO       EV 2016-10-23 13:11:10            REP
84         1417             PENNER       EV 2016-10-23 13:18:26            REP
86         1431               ROSE       EV 2016-10-22 15:26:12             NP
88         1445           LAUGHTON       EV 2016-10-22 12:24:08            REP
...         ...                ...      ...                 ...            ...
27251    515309           MITTERER       EV 2016-10-22 17:37:05            DEM
27362    516582              SCOTT       EV 2016-10-22 17:39:56            DEM
27370    516629            MALECKI       EV 2016-10-22 16:50:14             NP
27418    517343         COLMENARES       EV 2016-10-22 17:46:08             NP
27471    517710              BOREK       EV 2016-10-22 17:54:10            DEM
27744    520108  LADELPHA RATHMANN       EV 2016-10-22 17:31:47            REP
28106    523104           ROBERSON       EV 2016-10-22 09:35:37            DEM
28269    524804    DOMINGUEZ-CURRY       EV 2016-10-22 09:23:51            IAP
28430    526402             SIMCOX       EV 2016-10-22 17:39:59            DEM
28744    529346               SHEA       EV 2016-10-22 17:58:40            REP
28820    529959            CORRADO       EV 2016-10-22 17:36:08            DEM
29281    534474          ARCHIBALD       EV 2016-10-22 17:49:29            REP
29365    535187              CURRY       EV 2016-10-22 09:23:54             NP
29405    535590             FULTON       EV 2016-10-22 17:29:31            REP
29610    537826               NOEL       EV 2016-10-22 09:34:11            REP
29955    542138              GOMEZ       EV 2016-10-22 09:47:11            REP
30111    544386               HALL       EV 2016-10-22 17:55:28             NP
30383    547320             SUZUKI       EV 2016-10-22 09:15:14            IAP
30516    549040              RAGAN       EV 2016-10-22 17:59:48            DEM
30551    549719           HUMPHREY       EV 2016-10-22 17:46:17            REP
30710    551807          HERNANDEZ       EV 2016-10-22 17:50:40            DEM
30722    551918             DEMYAN       EV 2016-10-22 09:42:11            DEM
30737    552059          LASHBROOK       EV 2016-10-22 09:35:05            DEM
30778    552716            MIRABAL       EV 2016-10-22 09:21:39            DEM
30779    552717    MIRABAL-VAZQUEZ       EV 2016-10-22 09:22:00            DEM
30924    555214              ACKER       EV 2016-10-22 17:49:25             NP
31043    556498     RUELAS-RAMIREZ       EV 2016-10-22 17:46:36            DEM
31069    557005            GOLDMAN       EV 2016-10-22 09:21:08            DEM
31563    565683           CASTILLO       EV 2016-10-22 17:36:54             NP
31791    571630          MCROBERTS       EV 2016-10-22 17:58:59             NP

[2568 rows x 5 columns]